:root {
    scroll-behavior: smooth;
    --theme-color-1: #fff;
    --theme-color-2: #5D5AE3;
    --theme-color-3: #F8F9FB;
    --theme-color-4: #413c85;
    --text-color-1: #000;
    --text-color-2: #7b7b93;
    --text-color-3: #2c2c51;
    --text-color-4: #bab5df;
    --highlight-color-1: #61dafb;
    --highlight-color-2: #ffd700;
    --highlight-color-3: #fba820;
    --box-shadow: #21242c80;
    --code-color: #282c34;
    --button-color: #61dafb;
    --inverse-theme-color: #20232a;
    --inverse-text-color: #fff;
}

*, ::after, ::before {
    box-sizing: border-box
}

.body {
    background-color: var(--theme-color-1);
    color: var(--text-color-1);
    font-family: "Poppins", Sans-serif, serif;
    height: 150vh;
}

/**
--------------------------------------------------
------------------ HEADER ------------------
--------------------------------------------------
*/
.header-main, .header-navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.header-navbar__category, .header-navbar__offer {
    display: none;
}

.header {
    border-bottom: 1px solid rgb(229, 232, 236);
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    background-color: var(--theme-color-2);
}

.top-bar__text {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    color: var(--inverse-text-color);
    font-weight: 600;
}

.header-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-main {
    width: 100%;
    height: 6rem;
}

.header-main__logo {
    display: flex;
    align-items: center;
}

.header-main__link-logo-container {
    width: 100%;
}

.header-main__link-logo {
    width: 7rem;
    height: 100%;
}

.header-main__search {

}

.header-main__search-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.header__search-input {
    display: block;
    padding: .375rem .75rem;
    margin-left: -1px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0
}

.header__search-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--theme-color-2);
    outline: 0;
    box-shadow: 0 0 0 .1rem rgb(141, 140, 225)
}

.header__search-input::placeholder {
    color: #6c757d;
    opacity: 1
}

.header__search-button {
    position: relative;
    z-index: 2;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    width: 4rem;
    color: #fff;
    background-color: var(--theme-color-2);
    border-color: #5D5AE3FF;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.header__search-button:hover {
    color: #fff;
    background-color: var(--theme-color-2);
    border-color: #4845d7;
}

.header__search-button:focus {
    z-index: 3
}

.header-main__card {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: right;
    width: 30%;
}

.header-main__link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    text-align: right;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

.header-main__link-list.link-user {
    display: none;
}

.header-main__link-list.link-user .header-main__link {
    color: var(--theme-color-4);
    font-size: 3rem;
}

.header-main__link-item {
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.header-main__link {
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color-1);
}

.header-main__link:hover {
    color: var(--theme-color-2);
}

.header-navbar {
    height: 5rem;
}

.header-navbar__category {
    min-width: 20%;
}

.header-category__icon {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #fff;
    background-color: var(--theme-color-2);
    border-radius: 3.125rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.header-category__icon:hover {

}

.header-category__icon .icon-row {
    position: absolute;
    right: 1.5rem;
}

.header-category__title {
    font-size: 0.9rem;
}

.header-category__checkbox {
    display: none;
}

.header-category__checkbox:checked + .header-category__link-list {
    display: block;
}

.header-category__link-list {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 270px;
    margin: 0;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    list-style: none;
    background-color: var(--theme-color-1);
    border: 1px solid #e4e5ee;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.header-category__link-item {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 0.9rem;
    line-height: 2.5rem;
}

.header-category__link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: #3e445a;
}

.header-category__link:hover {
    color: var(--theme-color-2);
}

.header-navbar__nav {
    width: 50%;
}

.header-navbar__offer {
    width: 30%;
}

.header-nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav__nav-icon {
    font-size: 1.5rem;
    color: var(--code-color);
    cursor: pointer;
    transition: all 0.5s;
}

.header-nav__nav-icon:hover {
    font-size: 1.7rem;
    filter: brightness(250%);
}

.header-nav__nav-checkbox {
    display: none;
}

.header-nav__nav-checkbox:checked + .header-nav__link-list {
    left: 0;
}

.header-nav__link-list {
    position: fixed;
    display: flex;
    z-index: 1000;
    flex-direction: column;
    top: 9.5rem;
    left: -260px;
    width: 260px;
    height: 100%;
    background-color: var(--theme-color-1);
    border: 1px solid #eae7e7;
    margin: 0;
    padding: 1rem 0;
    text-transform: uppercase;
    transition: transform 0.5s cubic-bezier(.19, 1, .22, 1);
}

.header-nav__link-item {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 0.9rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #8f8d8d;
    padding: 0 1rem;
}

.header-nav__link {
    text-decoration: none;
    font-weight: 600;
    color: var(--theme-color-4);
}

.header-nav__link:hover {
    border-bottom: 0.25rem solid var(--inverse-text-color);
}

@media (min-width: 854px) {
    .header-container {
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    }

    .header-main, .header-navbar {
        justify-content: space-between;
        gap: 3rem;
        width: 100%;
    }

    .header-main__logo {
        width: 20%;
    }

    .header-main__link-logo {
        width: 12.5rem;
    }

    .header-main__search {
        width: 50%;
    }

    .header-main__card {
        width: 30%;
    }

    .header-main__link-item {
    }

    .header-main__link-list.link-user {
        display: block;
    }

    .header-navbar__category, .header-navbar__offer {
        display: block;
    }

    .header-nav {
        display: block;
    }

    .header-nav__nav-icon {
        display: none;
    }

    .header-nav__link-list {
        position: static;
        flex-direction: row;
        gap: 2rem;
        width: auto;
        background-color: inherit;
        padding: 0;
        border: none;
    }

    .header-nav__link-item {
        border: none;
        padding: 0;
    }
}
