.bodyNotFound {
        background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/031/392/original/91DE8079-3A3D-4D02-A317-BD18903CE4CA.png?1649495448");
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        margin: auto;
    }
      .alpaca {
        width: 80%;
        margin: 0;
      }
      .title {
        width: 80%;
        margin: 0;
      }
      .volver{
        color: white;
        text-decoration: none;
      }

      @media ( min-width: 700px) {
        .alpaca {
          max-width: 400px;

        }
        .title {
          max-width: 600px;
        }
        .volver{
          font-size: 2rem;
        }
      }