.bodyNotFound {
        background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/031/392/original/91DE8079-3A3D-4D02-A317-BD18903CE4CA.png?1649495448");
        background-size: cover;
    }
      .alpaca {
        width: 25%;
        margin: auto;
      }
      .title {
        width: 50%;
        padding-top: 2rem;
        margin: auto;
      }
      #elements {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
      }
